
:root {
  --btncolor: rgb(203, 209, 180);
  --btncolor2: rgb(108, 120, 106);
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;

  background-image: url("./assets/Casino_Login.png");
  background-size: cover;
  /* background-size: 100% 100%;  */
  background-position:  0% 20%;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wei {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.balance {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidecontainer {
  margin: 0;
  justify-content: center;
  align-items: center;
}

.balanceDiv {
  margin-left: 10px;
}

.slidedisplay {
  margin-left: 10px
}

#withdraw {
  margin-left: 20px;
}

/* compied from angi's code, not sure if needed but will keep in for now */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#inputs {
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 100%;
}

label[for="name"] {
  text-shadow: 0px 0px 5px white;
  font-size: 125%;
}

#DepWithWei {
  font-size: 125%;
}



#name {
  font-size: 85%;
  max-width: 50%;
  margin-left: 25%;
  text-align: center;
}

#amount{
  font-size: 85%;
}

#amount::placeholder {
  font-size: 85%;
  text-align: center;
}

.deposit-btn {
  box-shadow: none !important;
  background-color: var(--btncolor2) !important;
  font-size: 95%;
} 


#wamount{
  font-size: 85%;
}

#wamount::placeholder {
  font-size: 85%;
  text-align: center;
}

.withdraw-btn{
  box-shadow: none !important;
  background-color: var(--btncolor2) !important;
  font-size: 95%;
}

#loginButton {
  box-shadow: none !important;
  background-color: var(--btncolor2) !important;
  font-size: 95%;
}