canvas { 
    /* border: 32px solid rgb(16, 50, 33); */
    background:url(./assets/blackjack_table.jpg);
    background-size: 100% 100%;
    background-position: center;
    /* background-size: contain auto; */
}

:root {
  --btncolor: rgb(203, 209, 180);
  --btncolor2: rgb(108, 120, 106);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:absolute;
  overflow: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#standbtn {
  position:absolute;
  left:70%;
  top:30%;
  border-radius: 15px;
  background-color: var(--btncolor);
}

#hitbtn {
  position:absolute;
  left:70%;
  top:35%;
  border-radius: 15px;
  background-color: var(--btncolor);
}

#betbtn {
  position:absolute;
  left:70%;
  top:25%;
  border-radius: 15px;
  background-color: var(--btncolor);
}


#plusbtn {
  position:absolute;
  left:73%;
  top:25%;
  border-radius: 15px;
  background-color: var(--btncolor);
}

#minusbtn {
  position:absolute;
  left:74.5%;
  top:25%;
  border-radius: 15px;
  background-color: var(--btncolor);
}

#dealbtn {
    position:absolute;
    left:70%;
    top:20%;
    border-radius: 15px;
    background-color: var(--btncolor);
  }

  #exitbtn {
    position:absolute;
    left:2%;
    top:2%;
    border-radius: 15px;
    background-color: var(--btncolor);
  }
  
  #balanceLabel {
    position: absolute;
    left:10%;
    top: 12%;
    background-color: var(--btncolor);
  }
  
  #playerStatus {
    position: absolute;
    left:50%;
    top: 10%;
    background-color: var(--btncolor);
  }
  
  #AI1Status {
    position: absolute;
    left:50%;
    top: 12%;
    background-color: var(--btncolor);
  }
  
  #AI2Status {
    position: absolute;
    left:50%;
    top: 14%;
    background-color: var(--btncolor);
  }
  
